body, html {
  margin: 0;
  padding: 0;
  overflow: auto;
}
.top-div {
  height: 100vh;
  margin:0;
  padding:0;
  width: 100vw;
  background-color: white;
}
.bottom-div {
  padding:0;
  margin:0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  background-color: red;
}

.bottom-div h1 {
  color: white;
  padding-left: 20px;
  padding-right:20px;
  font-size: 3rem;
}

.bottom-div button {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #ffcccc;
  color: #b30000;
  border: 2px solid #b30000;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.bottom-div button:hover {
  background-color: #b30000;
  color: white;
  transform: scale(1.05);
}

.bottom-div button:active {
  background-color: #800000;
  color: white;
  transform: scale(1);
}

.count-div{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Assignment1, .Assignment2 {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
}

.Assignment1:hover, .Assignment2:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.Assignment1:active, .Assignment2:active {
  background-color: #004494;
  transform: scale(0.95);
}

.Assignment1:focus, .Assignment2:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


.Cards-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  padding: 10px; 
  width: fit-content; 
  margin: 0 auto; 
}


.input-div {
    width: 100%; 
    text-align: center;
}

.Assignment2-div{

  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-div input{
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}


.dice-roll-container {
  text-align: center;
  margin-top: 50px;
}

.roll-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.roll-button:hover {
  background-color: #45a049;
}
.dice-display {
  border: solid 2px black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 600px;
  height: 500px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
  justify-items: center;
  align-items: center;
}

.dice-face {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 70%;
  height: 70%;
  
  border-radius: 10px;
  overflow: hidden;
}

.dice-face img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}
